*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
img {
    object-fit: contain;
    border-radius: 20px;
}
input:focus {
    outline: rgb(1, 132, 255) auto 1px;
}
button:focus {
    outline: rgb(1, 132, 255) auto 1px;
}
textarea:focus {
    outline: rgb(1, 132, 255) auto 1px;
}
.input-wrapper input {
    width: 100%;
    padding: 10px 13px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
}
.cursor-pointer {
    cursor: pointer;
}
.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: 1px;
    border-radius: 3px;
}
.error {
    color: red;
    padding-left: 5px;
    padding-top: 5px;
}

.show-password {
    position: absolute;
    width: 15px;
    height: 15px;
    transform: translate(-25px,10px);
}
#alert-wrapper {
    position: fixed;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}
#alert-wrapper .alert {
    display: flex;
    font-weight: bolder;
    width: 35vw;
    background-color: rgb(97, 125, 138);
    color: rgb(255, 0, 0);
    text-align: center;
    flex-flow: row;
    justify-content: center;
    padding: 5px 10px 5px 10px;
}
#alert-wrapper #alertTitle {
    border-radius: 0px 0px 10px 10px;
    padding: 0px 10px 10px 10px !important;
    font-weight: 400!important;
    color: rgb(255, 181, 181);
}
#alert-wrapper #alertTitle:hover {
    font-weight: bold !important;
    color: rgb(255, 239, 239);
    text-shadow: 2px 0 5px rgb(255, 65, 65), -2px 0 5px rgb(255, 71, 71), 0px 2px 5px rgb(255, 83, 83), 0px -2px 5px rgb(255, 71, 71),
    5px 0 10px rgb(255, 53, 86), -5px 0 10px rgb(255, 46, 81), 0px 5px 10px rgb(255, 50, 84), 0px -5px 10px rgb(255, 53, 87),
    0 0 15px rgb(129, 28, 28);
}
#logout {
    position: fixed;
    border:  none;
    top: 0;
    right: 0;
    padding-right: 10px;
    height: 64px;
    line-height: 64px;
    background-color: transparent;
    color: white;
}
::-webkit-scrollbar {
    width: 10px;
    height: 95%;
}
::-webkit-scrollbar-track {
    background: #aebad3;
    border-radius: 5px;
}


::-webkit-scrollbar-thumb {
    background: rgb(22, 92, 223);
    border-radius: 5px;
}


::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 49, 141);
    border-radius: 5px;
}

.background-test {
    background: url(../images/test.jpg);
    display: block;
    height: 100px;
    width: 100px;
    background-size: cover;
}